<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.businessmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vistas.Producto.EditarProducto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Producto.VistaProducto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Producto.CrearProducto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Producto.ActivityProductos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Cliente.EditarCliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Cliente.VistaCliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Cliente.CrearCliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Cliente.ActivityClientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Acreedor.EditarAcreedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Acreedor.VistaAcreedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Acreedor.CrearAcreedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Acreedor.ActivityAcreedores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Proveedor.EditarProveedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Proveedor.VistaProveedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Proveedor.CrearProveedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Proveedor.ActivityProveedores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Trabajador.EditarTrabajador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Trabajador.VistaTrabajador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Trabajador.CrearTrabajador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Trabajador.ActivityTrabajadores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Compra.ActivityCompras"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Venta.ActivityVentas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>